/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%; /* Changed from min-height to ensure full page coverage */
  width: 100%;
}

body {
  position: relative;
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.header-item, .footer-item {
  font-size: 20px;
  font-family: "Palette Mosaic", system-ui;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.45em;
  color: #b6a785;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}


.footer-item {
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}

.header {
  position: fixed; /* Changed from absolute to fixed for consistent positioning */
  top: 56px;
  left: 0;
  right: 0;
  height: 43px;
}

.footer {
  position: fixed; /* Changed from absolute to fixed for consistent positioning */
  bottom: 0;
  left: 0;
  right: 0;
  height: 161px;
}

.footer-item {
  line-height: 150px;
}

.footer-item:hover {
  font-size: 105px; /* Updated size */
  color: #FF5733; /* Change color on hover */
  font-weight: bold; /* Add bold font weight */
  text-transform: uppercase; /* Make text uppercase */
}

.hero {
  position: absolute;
  top: 179px;
  left: 115px;
  width: 1000px;
  height: 666.75px;
}

.hero-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; /* Ensures the image stays in the background */
}

.contact-button {
  position: absolute;  font-family:"Palette Mosaic", system-ui;
  width: 80px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background: #b6a785;
  border-radius: 60px;
  font-size: 20px;
  line-height: 30px;
  color: #221d10;
  opacity: 0.9;
  text-align: center;
  letter-spacing: 0.12em;
}
